.title{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 13px;
}

.mainContainer {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 30px;
  padding: 0;
  flex-direction: row; /* Set flex direction to column */
  justify-content: space-evenly;

}
.previewImgs {
  height: 200px;
  width: fit-content;
  cursor: pointer;
}

.previewBoxes {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: grey;
  border: solid 1px;
  font-size: 10px;
  color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);  
  padding: 5px;
}
